.empty-panel-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-panel {
    text-align: center;
}

.empty-panel__text {
    font-size: 2rem;
    color: #757575;
}