.categories-list {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
}

.categories-list:first-child {
    padding-left: 0;
}

.categories-list__item {
    min-width: 340px;
    padding: 7px 0;
}

.categories-list__item:last-child {
    padding-bottom: 0;
}